/**
  |============================
  | Base styles
  |============================
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900");

:root {
  --text: #434455;
  --primary-brand: #4D5AE5;
  --main-font: "Roboto", serif;
  --logo-font: "Raleway", serif;
  --acsent: #E7E9FC;
  --light: #f4f4fd;
  --dark: #2e2f42;
  --pressed-state: #404bbf;
  --secondary-accent-color: #0288D1;
  --active-link-color: #f44336;
  --succsess: #31d0aa;
  --white: #fff;
  --modal-overlay: #2e2f4266;
  --hero-background-color: #2e2f42b2;
}

body {
  /*body*/
  font-family: var(--main-font);
}

/*reset styles*/
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.item {
  display: inline;
}

/*Header 1*/
h1 {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07143;
  /*107.143%*/
  letter-spacing: 1.12px;
}

#studio {
  background-color: var(--dark);

}

.buttonstyle {
  cursor: pointer;
}

.studio-button {
  border-radius: 4px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  /*button text*/
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 5;
  /*150*/
  ;
  letter-spacing: 0.64px;
}

.studio-button:hover,
.studio-button:focus {
  border-radius: 4px;
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}